<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">

    

    <title>Test</title>
</head>
    <body class="bg-base-200" style="visibility: hidden;">
    <script>0</script>  <!-- Firefox hack for FOUC -->
    
    <div class="flex min-h-screen h-full">
        
        <!-- Main Content -->
        <div class="flex-1 p-10">
        Testing123
        </div>
    </div>
    
    <script>
        
        // Helper function
        let domReady = (cb) => {
        document.readyState === 'interactive' || document.readyState === 'complete'
            ? cb()
            : document.addEventListener('DOMContentLoaded', cb);
        };

        domReady(() => {
        // Display body when DOM is loaded
        document.body.style.visibility = 'visible';
        });
    </script>
    {% block scripts %}{% endblock %}
    <!-- <noscript><style>body { visibility: visible; }</style></noscript> -->
</body>
</html>
